
body {
    margin: 0;
}

h1, h2, h3 {
    font-family: Arial, serif;
}

p {
    font-family: Arial, serif;
}

a {
    font-family: Arial, serif;
    font-weight: bold;
}

a:hover {
    color: #feda6a;
}

nav {
    background-color: #393f4d;
    padding: 15px 5px 15px 5px;
    overflow: hidden;
    margin: 0 auto;
}

nav ul {
    margin: 0 auto;
    width: max-content;
}

nav li {
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

header {
    background-color: white;
    overflow: hidden;
}

header #logo {
    position: relative;
    width: max-content;
    margin: 0 auto;
    text-align: center;
}

header #logo img {
    display: block;
}

header #logo #logo-img {
    position: absolute;
    top: 15%;
    left: 45%
}

main {
    background-color: white;
    overflow: hidden;
    display: flex;
    min-height: 400px;
    /*align-items: center;*/
}

main #content {
    background-color: white;
    width: 65%;
    margin: 50px auto 50px;
}

main #content .aktualnyFilm .poster{
    float: left;
    margin-right: 20px;
}


main #content .aktualnyFilm .popis{
    font-family: Arial, serif;
}

main #content .aktualnyFilm .hodnotenie{
    font-family: Arial, serif;
    font-weight: bold;
}

main #about-content {
    background-color: white;
    margin: 50px auto;
    width: 65%;
    display: flex;
    height: 500px;
}

main #about-content #about-left {
    width: 50%;
}

main #about-content #about-right {
    width: 50%;
}

main #about-content #about-right img {
    margin: 20px 0 0 35%;
}

main #porfolio-content{
    padding: 20px 0 0 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


footer {
    background-color: #393f4d;
    overflow: hidden;
    bottom:0;
    width: 100%;
}

footer #footerStred {
    width: max-content;
    margin: 0 auto;
    text-align: center;
}


footer #footerStred ul {
    margin: 0 auto;
    width: max-content;
    padding: 0;
}

footer #footerStred li {
    display: inline-block;
    padding: 5px;
}
