<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <base target="_blank">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {% include analytics.html %}
</head>
<body>
<nav>
    <ul>
        <li><a href="/index.html" target="_self">Home /</a></li>
        <li><a href="/about/index.html" target="_self">O mne /</a></li>
        <li><a href="/portfolio/index.html" target="_self">Developerský profil /</a></li>
        <li><a href="/movies/index.html" target="_self">Filmy-seriály /</a></li>
        <li><a href="/music/index.html" target="_self">Hudba-knihy /</a></li>
        <li><a href="/wpub/" target="_self">Webove publikovanie</a></li>
    </ul>
</nav>
{{ content }}
<footer>
    <div id="footerStred">
        <p style="color: white; font-weight: bold; margin-bottom: 0" >© {{site.time |date: "%Y"}}</p>
        <a href="/sitemap.xml" style="font-size:small">Sitemap</a>
        <ul>
            <li><a href="https://www.github.com/chrisSvK"><img alt="github" src="/img/github.png" height="35"></a></li>
            <li><a href="mailto:christian.scipa@gmail.com"><img alt="gmail" src="/img/gmail.png" height="35"></a></li>
            <li><a href="https://www.instagram.com/chris_svk/"><img alt="instagram" src="/img/insta.png"
                                                                    height="35"></a>
            </li>
            <li><a href="https://www.youtube.com/user/christianscipa06/"><img alt="youtube" src="/img/youtube.png"
                                                                              height="35"></a></li>
            <li><a href="https://twitter.com/ChristianScipa"><img alt="twitter" src="/img/twitter.png" height="35"></a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>
