---
layout: default
---
<main>
    <div id="content">
        {{ content }}
        <h1>Filmy</h1>
        {{page.filmyContent}}
        <br>
        <div class="aktualnyFilm">
            <h2>Aktuálny film</h2>
            <h3><a href={{page.new-film.first.link}} target="_blank">{{page.new-film.first.nazov}}</a></h3>
            <img class="poster" src={{page.new-film.first.img}} alt="movie" height="300" width="230">
            <div class="popis">{{page.new-film.first.popis}}</div>
            <div class="hodnotenie">Hodnotenie IMDb {{page.new-film.first.hodnotenie}}</div>
            <br>
            {{page.new-film.first.trailer}}
        </div>
        <h2>Top 5 filmov</h2>
        <table>
            <tr>
                <th></th>
                <th>Nazov</th>
                <th>IMDb hodnotenie</th>
            </tr>
            {% assign filmArray =  page.movies | sort: "hodnotenie" | reverse  %}
            {% for film in filmArray %}
            <tr>
                <td><img src={{film.img}} alt="movie" height="100" width="75"></td>
                <td><a href={{film.link}} target="_blank">{{film.nazov}}</a></td>
                <td>{{film.hodnotenie}}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <h1>Seriály</h1>
        <br>
        <div class="aktualnyFilm">
            <h2>Aktuálny serial</h2>
            <h3><a href={{page.new-show.first.link}} target="_blank">{{page.new-show.first.nazov}}</a></h3>
            <img class="poster" src={{page.new-show.first.img}} alt="show" height="300" width="230">
            <div class="popis">{{page.new-show.first.popis}}</div>
            <div class="hodnotenie">Hodnotenie IMDb {{page.new-show.first.hodnotenie}}</div>
            <br>
            {{page.new-show.first.trailer}}
        </div>
        <h2>Top 5 seriálov</h2>
        <table>
            <tr>
                <th></th>
                <th>Nazov</th>
                <th>IMDb</th>
            </tr>
            {% assign showArray =  page.shows | sort: "hodnotenie" | reverse  %}
            {% for show in showArray %}
            <tr>
                <td><img src={{show.img}} alt="show" height="100" width="75"></td>
                <td><a href={{show.link}} target="_blank">{{show.nazov}}</a></td>
                <td>{{show.hodnotenie}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>