---
layout: default
---

<main>
    <div id="content">
        <h1>Hudba</h1>
        {{ page.hudba-desc }}
        <br>
        <h2>Youtube & Spotify playlist</h2>
        <br>
        <div style="float: left; margin-right: 50px"> {{page.spotify}}</div>
        {{page.youtube}}
        <br>
        <hr style="clear: both;">
        <h1 style="clear: both">Knihy</h1>
        <p>Môj účet na goodreads, kde občas pridávam knihy, ktoré čítam alebo som prečítal. </p>
        <a href="https://www.goodreads.com/user/show/50321531-christian-pa" target="_blank"><img
                src="https://s.gr-assets.com/assets/layout/header/goodreads_logo.svg" width="200" height="70"
                title="GoodReads" alt="GoodReads"></a>
        <div class="aktualnaKniha">
            <h2>Aktuálna kniha</h2>
            <h3><a href={{page.new-kniha.first.link}} target="_blank">{{page.new-kniha.first.nazov}}</a></h3>
            <h4>Autor: {{page.new-kniha.first.autor}}</h4>
            <img class="poster" src={{page.new-kniha.first.img}} alt="show" height="300" width="230">
            <div class="popis">{{page.new-kniha.first.popis}}</div>
        </div>
        <br>
        <h2 style="clear: both">Top 5 kníh</h2>
        <table>
            <tr>
                <th></th>
                <th>Nazov</th>
                <th>Autor</th>
            </tr>
            {% for kniha in page.knihy %}
            <tr></tr>
            <tr>
                <td><img src={{kniha.img}} alt="kniha" height="100" width="75"></td>
                <td><a href={{kniha.link}} target="_blank">{{kniha.nazov}}</a></td>
                <td>{{kniha.autor}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>